<div class="skeleton-container">
  <div class="rang">
    <div class="rang-title">
      <input
        class="rang-number"
        id="show"
        type="text"
        value="{{ scoreP }}%"
        disabled="disabled"
      />
    </div>
    <svg class="meter">
      <circle class="meter-left" r="96" cx="135" cy="142"></circle>
      <circle class="meter-center" r="96" cx="136" cy="142"></circle>
      <circle class="meter-right" r="96" cx="138" cy="142"></circle>
      <polygon
        class="meter-clock"
        points="129,145 137,90 145,145"
        [ngStyle]="{ transform: 'rotate(' + scoreD + 'deg)' }"
      ></polygon>
      <circle class="meter-circle" r="10" cx="137" cy="145"></circle>
    </svg>
  </div>
  <mat-slider
    #vSlider
    min="0"
    max="6.3"
    step="0.01"
    value="3.14"
    (input)="sliderUpdate(vSlider.value)"
  ></mat-slider>
  <span [class.good]="isGood === true" [class.bad]="isGood === false">{{
    isGood ? "Good Exercise" : "Bad Exercise"
  }}</span>
  <canvas #canvas id="canvas" width="800px" height="800px">
    Your browser doesn't support the canvas :/
  </canvas>
</div>
