.uploader {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  * {
    margin: 5px;
  }
}

.container {
  display: flex;
  padding-bottom: 25px;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
}
