<h2>Please choose an option:</h2>
<div class="container">
  <a routerLink="/webcam" routerLinkActive="active">
    <app-option-card text="Using Camera" image="/assets/images/cam.jpg"></app-option-card>
  </a>
  <a routerLink="/params" routerLinkActive="active">
    <app-option-card text="Using Form" image="/assets/images/math.jpg">
    </app-option-card>
  </a>
  <a routerLink="/video" routerLinkActive="active">
    <app-option-card text="Upload Video" image="/assets/images/video.jpg">
    </app-option-card>
  </a>
</div>
