<form
  [formGroup]="newLineSeparatedForm"
  (ngSubmit)="onSubmit(newLineSeparatedForm.value)"
>
  <mat-card class="box-card">
    <mat-card-title>All Predictors</mat-card-title>
    <mat-card-content>
      <mat-form-field class="streach" appearance="outline">
        <mat-label>NewLine Separated Values</mat-label>
        <textarea
          class="streach"
          matInput
          formControlName="allValues"
        ></textarea>
        <mat-hint
          >Please enter each predictor in new line (you should not use comma
          between variables)</mat-hint
        >
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <div class="btn-container">
    <button mat-fab color="primary" type="submit">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-fab color="accent" type="button" (click)="onGenerateDemo()">
      <mat-icon>auto_fix_high</mat-icon>
    </button>
    <button mat-fab color="warn" type="button" (click)="onClear()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</form>
