<h1>Dashboard</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <mat-card class="box-card">
    <mat-card-title>Angle Deviation</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>No 1</mat-label>
        <input matInput formControlName="No_1_Angle_Deviation" />
        <mat-hint>No_1_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 2</mat-label>
        <input matInput formControlName="No_2_Angle_Deviation" />
        <mat-hint>No_2_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 3</mat-label>
        <input matInput formControlName="No_3_Angle_Deviation" />
        <mat-hint>No_3_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 4</mat-label>
        <input matInput formControlName="No_4_Angle_Deviation" />
        <mat-hint>No_4_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 5</mat-label>
        <input matInput formControlName="No_5_Angle_Deviation" />
        <mat-hint>No_5_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 6</mat-label>
        <input matInput formControlName="No_6_Angle_Deviation" />
        <mat-hint>No_6_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 7</mat-label>
        <input matInput formControlName="No_7_Angle_Deviation" />
        <mat-hint>No_7_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 8</mat-label>
        <input matInput formControlName="No_8_Angle_Deviation" />
        <mat-hint>No_8_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 9</mat-label>
        <input matInput formControlName="No_9_Angle_Deviation" />
        <mat-hint>No_9_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 10</mat-label>
        <input matInput formControlName="No_10_Angle_Deviation" />
        <mat-hint>No_10_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 11</mat-label>
        <input matInput formControlName="No_11_Angle_Deviation" />
        <mat-hint>No_11_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 12</mat-label>
        <input matInput formControlName="No_12_Angle_Deviation" />
        <mat-hint>No_12_Angle_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 13</mat-label>
        <input matInput formControlName="No_13_Angle_Deviation" />
        <mat-hint>No_13_Angle_Deviation</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>NASM Deviation</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>No 1</mat-label>
        <input matInput formControlName="No_1_NASM_Deviation" />
        <mat-hint>No_1_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 2</mat-label>
        <input matInput formControlName="No_2_NASM_Deviation" />
        <mat-hint>No_2_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 3</mat-label>
        <input matInput formControlName="No_3_NASM_Deviation" />
        <mat-hint>No_3_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 4</mat-label>
        <input matInput formControlName="No_4_NASM_Deviation" />
        <mat-hint>No_4_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 5</mat-label>
        <input matInput formControlName="No_5_NASM_Deviation" />
        <mat-hint>No_5_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 6</mat-label>
        <input matInput formControlName="No_6_NASM_Deviation" />
        <mat-hint>No_6_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 7</mat-label>
        <input matInput formControlName="No_7_NASM_Deviation" />
        <mat-hint>No_7_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 8</mat-label>
        <input matInput formControlName="No_8_NASM_Deviation" />
        <mat-hint>No_8_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 9</mat-label>
        <input matInput formControlName="No_9_NASM_Deviation" />
        <mat-hint>No_9_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 10</mat-label>
        <input matInput formControlName="No_10_NASM_Deviation" />
        <mat-hint>No_10_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 11</mat-label>
        <input matInput formControlName="No_11_NASM_Deviation" />
        <mat-hint>No_11_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 12</mat-label>
        <input matInput formControlName="No_12_NASM_Deviation" />
        <mat-hint>No_12_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 13</mat-label>
        <input matInput formControlName="No_13_NASM_Deviation" />
        <mat-hint>No_13_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 14</mat-label>
        <input matInput formControlName="No_14_NASM_Deviation" />
        <mat-hint>No_14_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 15</mat-label>
        <input matInput formControlName="No_15_NASM_Deviation" />
        <mat-hint>No_15_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 16</mat-label>
        <input matInput formControlName="No_16_NASM_Deviation" />
        <mat-hint>No_16_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 17</mat-label>
        <input matInput formControlName="No_17_NASM_Deviation" />
        <mat-hint>No_17_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 18</mat-label>
        <input matInput formControlName="No_18_NASM_Deviation" />
        <mat-hint>No_18_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 19</mat-label>
        <input matInput formControlName="No_19_NASM_Deviation" />
        <mat-hint>No_19_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 20</mat-label>
        <input matInput formControlName="No_20_NASM_Deviation" />
        <mat-hint>No_20_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 21</mat-label>
        <input matInput formControlName="No_21_NASM_Deviation" />
        <mat-hint>No_21_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 22</mat-label>
        <input matInput formControlName="No_22_NASM_Deviation" />
        <mat-hint>No_22_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 23</mat-label>
        <input matInput formControlName="No_23_NASM_Deviation" />
        <mat-hint>No_23_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 24</mat-label>
        <input matInput formControlName="No_24_NASM_Deviation" />
        <mat-hint>No_24_NASM_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 25</mat-label>
        <input matInput formControlName="No_25_NASM_Deviation" />
        <mat-hint>No_25_NASM_Deviation</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Time Deviation</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>No 1</mat-label>
        <input matInput formControlName="No_1_Time_Deviation" />
        <mat-hint>No_1_Time_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>No 2</mat-label>
        <input matInput formControlName="No_2_Time_Deviation" />
        <mat-hint>No_2_Time_Deviation</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>AimoScore</mat-label>
        <input matInput formControlName="AimoScore" />
        <mat-hint>Aimo Score</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>EstimatedScore</mat-label>
        <input matInput formControlName="EstimatedScore" />
        <mat-hint>Estimated Score</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <div class="btn-container">
    <button mat-fab color="primary" type="submit">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-fab color="accent" type="button" (click)="onGenerateDemo()">
      <mat-icon>auto_fix_high</mat-icon>
    </button>
    <button mat-fab color="warn" type="button" (click)="onClear()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</form>
