:host {
  display: flex;
  height: 90%;
}
  
.not-found {
  flex: 2;
  display: flex;
  flex-flow: column;
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
}
  
.not-found-header {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-size: 128px;
}
  
.not-found-message {
  color: #cfd8dc;
}