<form>
  <mat-card class="box-card">
    <mat-card-title>Video Upload Form</mat-card-title>
    <mat-card-content>
      <div class="uploader">
        <mat-label>File</mat-label>
        <button mat-raised-button (click)="fileInput.click()">
          {{ file ? file.name : 'Select' }}
        </button>
        <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)" />
        <button [disabled]="!file" type="submit" mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>

        <mat-progress-bar *ngIf="upload" [mode]="upload.state == 'PENDING' ? 'buffer' : 'determinate'"
          [value]="upload.progress">
        </mat-progress-bar>
      </div>
    </mat-card-content>
  </mat-card>
</form>
